body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background: #f5f1e8;
  color: #2b1d1d;
  padding: 1rem;
}

@media(min-width:1024px){
  body{ padding: 1rem 10%; }
}

.main-title {
  text-align: center;
  color: crimson;
  font-size: 2.2rem;
}

.hero-img {
  width: 100%;
  max-width: 420px;
  display: block;
  margin: 1rem auto;
  border-radius: 20px;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.7rem;
  margin: 0.4rem 0;
  border-radius: 8px;
  border: 1px solid #d8d2c7;
}

button {
  width: 100%;
  padding: 0.8rem;
  margin: 0.4rem 0;
  border-radius: 10px;
  border: none;
  background: #3b2f27;
  color: #e8dfcf;
  font-weight: bold;
  cursor: pointer;
}

#deleteGroupBtn, #leaveBtn{
  border: 1px solid crimson;
  background-color: crimson;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.group-list button {
  background: #e8dfcf;
  color: #3b2f27;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.participants {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card {
  background: #fffaf2;
  padding: 1rem;
  border-radius: 12px;
}

.result-box {
  margin: 1rem 0;
  padding: 1rem;
  background: #f0e6e0;
  border-radius: 12px;
}

.center { text-align: center; }

.create-label{
  text-align:center;
  color:crimson;
  font-weight:bold;
  margin-top:1rem;
}

.ornament{
  text-align:center;
  margin-top:2rem;
  color:crimson;
}

.footer{
  text-align:center;
  margin-bottom:2rem;
  font-size:0.9rem;
}